<ng-container *ngIf="currentStudent$ | async as currentStudent">
  <mat-card class="example-card mat-elevation-z6">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{currentStudent.name}}</mat-card-title>
      <mat-card-subtitle>{{currentStudent.birthDay}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let item of currentStudent.notes" selected color="primary">{{item}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editStudent(currentStudent)">EDIT</button>
      <button mat-button>DELETE</button>
      <button mat-button (click)="addStudent()">ADD NEW</button>
    </mat-card-actions>
  </mat-card>
</ng-container>