<mat-sidenav-container #sideNav>

    <mat-sidenav mode="over" fixedInViewport="false">
        <mat-toolbar color="primary" class="header mat-elevation-z2">
            <span>Menu</span>
        </mat-toolbar>
        
        <mat-nav-list class="content">
            <a mat-list-item routerLink="/students" (click)="sideNav.close()">
                <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="header mat-elevation-z2">
            <button mat-icon-button (click)="sideNav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Angular playground</span>
            <span class="spacer"></span>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
                {{name$ | async}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>